!dummy
!.gitmodule
composer.phar
/vendor/
/node_modules/
/var/*
!/var/.gitkeep
/app/cache/*
!/app/cache/.gitkeep
/app/log/*
!/app/log/.gitkeep
/app/Plugin/*
!/app/Plugin/.gitkeep
!/app/Plugin/ExamplePlugin
/app/PluginData/*
!/app/PluginData/.gitkeep
/app/template/*
!/app/template/admin
!/app/template/default
!/app/template/user_data/
/app/proxy/entity/*
!/app/proxy/entity/.gitkeep
/public/plugin/*
!/public/plugin/.gitkeep
/public/install/temp/*
/public/upload/save_image/*
!/public/upload/save_image/.gitkeep
/public/upload/temp_image/*
!/public/upload/temp_image/.gitkeep
/public/upload/temp_plugin/*
/public/template/*
!/public/template/admin
!/public/template/default
!/public/template/install
/public/user_data/*
!/public/user_data/assets/css/customize.css
!/public/user_data/assets/js/customize.js
!/public/user_data/.gitkeep
/src/Eccube/Resource/config/*.dist.php
/tests/tmp/*
/reports/*
.idea
*.php~
.env
.maintenance

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
.php_cs
.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
